In [2]:
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
dfc = pd.read_csv('calendar.csv')
dfl = pd.read_csv('listings.csv')
dfr = pd.read_csv('reviews.csv')

In [4]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [6]:
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [8]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [10]:
dfc.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [12]:
dfl.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [14]:
dfr.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [16]:
dfl = dfl.rename({'id': 'listing_id'}, axis=1)
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   listing_id                        3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [18]:
dfl = dfl[['listing_id','name','host_id','host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost','host_identity_verified','city','state','zipcode','market','smart_location','country_code','latitude','longitude','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','price','weekly_price','monthly_price','guests_included','minimum_nights','maximum_nights','review_scores_rating','instant_bookable','cancellation_policy','require_guest_profile_picture','require_guest_phone_verification']]

In [20]:
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 35 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   listing_id                        3818 non-null   int64
 1   name                              3818 non-null   object
 2   host_id                           3818 non-null   int64
 3   host_response_time                3295 non-null   object
 4   host_response_rate                3295 non-null   object
 5   host_acceptance_rate              3045 non-null   object
 6   host_is_superhost                 3816 non-null   object
 7   host_identity_verified            3816 non-null   object
 8   city                              3818 non-null   object
 9   state                             3818 non-null   object
 10  zipcode                           3811 non-null   object
 11  market                            3818 non-null   object
 12  smart_location                    3818 non-null   object
 13  country_code                      3818 non-null   object
 14  latitude                          3818 non-null   float64
 15  longitude                         3818 non-null   float64
 16  is_location_exact                 3818 non-null   object
 17  property_type                     3817 non-null   object
 18  room_type                         3818 non-null   object
 19  accommodates                      3818 non-null   int64
 20  bathrooms                         3802 non-null   float64
 21  bedrooms                          3812 non-null   float64
 22  beds                              3817 non-null   float64
 23  bed_type                          3818 non-null   object
 24  price                             3818 non-null   object
 25  weekly_price                      2009 non-null   object
 26  monthly_price                     1517 non-null   object
 27  guests_included                   3818 non-null   int64
 28  minimum_nights                    3818 non-null   int64
 29  maximum_nights                    3818 non-null   int64
 30  review_scores_rating              3171 non-null   float64
 31  instant_bookable                  3818 non-null   object
 32  cancellation_policy               3818 non-null   object
 33  require_guest_profile_picture     3818 non-null   object
 34  require_guest_phone_verification  3818 non-null   object
dtypes: float64(6), int64(6), object(23)
memory usage: 1.0+ MB

In [22]:
dfc = dfc.rename({'price': 'payment'}, axis=1)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   payment     934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [26]:
# Menggabungkan DataFrame calendar dan listing berdasarkan 'listing_id'
df_merged = pd.merge(dfc, dfl, on='listing_id', how='left')
df_merged

,listing_id,date,available,payment,name,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,weekly_price,monthly_price,guests_included,minimum_nights,maximum_nights,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
0,241032,2016-01-04,t,$85.00,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,NaN,NaN,2,1,365,95.0,f,moderate,f,f
1,241032,2016-01-05,t,$85.00,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,NaN,NaN,2,1,365,95.0,f,moderate,f,f
2,241032,2016-01-06,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,NaN,NaN,2,1,365,95.0,f,moderate,f,f
3,241032,2016-01-07,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,NaN,NaN,2,1,365,95.0,f,moderate,f,f
4,241032,2016-01-08,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,NaN,NaN,2,1,365,95.0,f,moderate,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393565,10208623,2016-12-29,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,NaN,NaN,1,1,1125,NaN,f,flexible,f,f
1393566,10208623,2016-12-30,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,NaN,NaN,1,1,1125,NaN,f,flexible,f,f
1393567,10208623,2016-12-31,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,NaN,NaN,1,1,1125,NaN,f,flexible,f,f
1393568,10208623,2017-01-01,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,NaN,NaN,1,1,1125,NaN,f,flexible,f,f
1393569,10208623,2017-01-02,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,NaN,NaN,1,1,1125,NaN,f,flexible,f,f

In [28]:
# Definisi fungsi untuk memperbarui status berdasarkan nilai Payment, Day Price, Weekly Price, Monthly Price

def update_status(df):
    """Fungsi untuk memperbarui kolom Day Price Status, Weekly Price Status, dan Monthly Price Status berdasarkan kolom Payment."""
    df['day_price_status'] = df.apply(lambda row: 'Yes' if row['payment'] == row['price'] else 'No', axis=1)
    df['weekly_price_status'] = df.apply(lambda row: 'Yes' if row['payment'] == row['weekly_price'] else 'No', axis=1)
    df['monthly_price_status'] = df.apply(lambda row: 'Yes' if row['payment'] == row['monthly_price'] else 'No', axis=1)
    return df

# Menggunakan fungsi update_status untuk memperbarui status pada DataFrame yang ada
df_result_updated = update_status(df_merged)
df_result_updated[['listing_id', 'date', 'payment', 'day_price_status', 'weekly_price_status', 'monthly_price_status']]

,listing_id,date,payment,day_price_status,weekly_price_status,monthly_price_status
0,241032,2016-01-04,$85.00,Yes,No,No
1,241032,2016-01-05,$85.00,Yes,No,No
2,241032,2016-01-06,NaN,No,No,No
3,241032,2016-01-07,NaN,No,No,No
4,241032,2016-01-08,NaN,No,No,No
...,...,...,...,...,...,...
1393565,10208623,2016-12-29,NaN,No,No,No
1393566,10208623,2016-12-30,NaN,No,No,No
1393567,10208623,2016-12-31,NaN,No,No,No
1393568,10208623,2017-01-01,NaN,No,No,No
1393569,10208623,2017-01-02,NaN,No,No,No

**pakai update_status setiap kali ada perubahan di kolom payment**

# Descriptive Statistic

In [30]:
df_result_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 41 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   listing_id                        1393570 non-null  int64
 1   date                              1393570 non-null  object
 2   available                         1393570 non-null  object
 3   payment                           934542 non-null   object
 4   name                              1393570 non-null  object
 5   host_id                           1393570 non-null  int64
 6   host_response_time                1202675 non-null  object
 7   host_response_rate                1202675 non-null  object
 8   host_acceptance_rate              1111425 non-null  object
 9   host_is_superhost                 1392840 non-null  object
 10  host_identity_verified            1392840 non-null  object
 11  city                              1393570 non-null  object
 12  state                             1393570 non-null  object
 13  zipcode                           1391015 non-null  object
 14  market                            1393570 non-null  object
 15  smart_location                    1393570 non-null  object
 16  country_code                      1393570 non-null  object
 17  latitude                          1393570 non-null  float64
 18  longitude                         1393570 non-null  float64
 19  is_location_exact                 1393570 non-null  object
 20  property_type                     1393205 non-null  object
 21  room_type                         1393570 non-null  object
 22  accommodates                      1393570 non-null  int64
 23  bathrooms                         1387730 non-null  float64
 24  bedrooms                          1391380 non-null  float64
 25  beds                              1393205 non-null  float64
 26  bed_type                          1393570 non-null  object
 27  price                             1393570 non-null  object
 28  weekly_price                      733285 non-null   object
 29  monthly_price                     553705 non-null   object
 30  guests_included                   1393570 non-null  int64
 31  minimum_nights                    1393570 non-null  int64
 32  maximum_nights                    1393570 non-null  int64
 33  review_scores_rating              1157415 non-null  float64
 34  instant_bookable                  1393570 non-null  object
 35  cancellation_policy               1393570 non-null  object
 36  require_guest_profile_picture     1393570 non-null  object
 37  require_guest_phone_verification  1393570 non-null  object
 38  day_price_status                  1393570 non-null  object
 39  weekly_price_status               1393570 non-null  object
 40  monthly_price_status              1393570 non-null  object
dtypes: float64(6), int64(6), object(29)
memory usage: 435.9+ MB

In [32]:
# Menyaring baris dengan kondisi day_price_status, weekly_price_status, monthly_price_status sama-sama "No"
filtered_df = df_result_updated[(df_result_updated['day_price_status'] == 'No') & 
                                (df_result_updated['weekly_price_status'] == 'No') &
                                (df_result_updated['monthly_price_status'] == 'No')]

# Menghitung jumlah unik listing_id dalam hasil filter
unique_listing_count = filtered_df['listing_id'].nunique()

unique_listing_count

3423

Hal ini berarti ada 3423 listing yang ada ketidakcocokan payment dengan kolom-kolom status disuatu tanggal.

In [34]:
unique_date_count = filtered_df['date'].nunique()

unique_date_count

365

In [36]:
filtered_df

,listing_id,date,available,payment,name,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,minimum_nights,maximum_nights,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,day_price_status,weekly_price_status,monthly_price_status
2,241032,2016-01-06,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
3,241032,2016-01-07,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
4,241032,2016-01-08,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
5,241032,2016-01-09,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
6,241032,2016-01-10,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393565,10208623,2016-12-29,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,1,1125,NaN,f,flexible,f,f,No,No,No
1393566,10208623,2016-12-30,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,1,1125,NaN,f,flexible,f,f,No,No,No
1393567,10208623,2016-12-31,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,1,1125,NaN,f,flexible,f,f,No,No,No
1393568,10208623,2017-01-01,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,1,1125,NaN,f,flexible,f,f,No,No,No
1393569,10208623,2017-01-02,f,NaN,Large Lakefront Apartment,14703116,within a day,100%,NaN,f,...,1,1125,NaN,f,flexible,f,f,No,No,No

rows semuanya ada 1.393.570. rows yang tidak ada status nya 711.094. Ada 682.476 rows dari semua listing di seluruh tanggal yang sesuai dengan statusnya.

In [39]:
payment_no_status_nan = filtered_df['payment'].isna().sum()
print(payment_no_status_nan)

459028

Dari 711.094 rows yang tidak ada status, 459.028 rows tidak punya angkanya.

In [42]:
df_result_updated['payment'] = df_result_updated['payment'].str.replace('$', '').str.replace(',', '').astype(float)
df_result_updated['weekly_price'] = df_result_updated['weekly_price'].str.replace('$', '').str.replace(',', '').astype(float)
df_result_updated['monthly_price'] = df_result_updated['monthly_price'].str.replace('$', '').str.replace(',', '').astype(float)
df_result_updated['price'] = df_result_updated['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [46]:
df_result_updated.head()

,listing_id,date,available,payment,name,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,minimum_nights,maximum_nights,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,day_price_status,weekly_price_status,monthly_price_status
0,241032,2016-01-04,t,85.0,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,Yes,No,No
1,241032,2016-01-05,t,85.0,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,Yes,No,No
2,241032,2016-01-06,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
3,241032,2016-01-07,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No
4,241032,2016-01-08,f,NaN,Stylish Queen Anne Apartment,956883,within a few hours,96%,100%,f,...,1,365,95.0,f,moderate,f,f,No,No,No

In [52]:
df_result_updated['latitude'] = df_result_updated['latitude'].astype(str)
df_result_updated['longitude'] = df_result_updated['longitude'].astype(str)

In [54]:
df_result_updated.isna().sum()

listing_id                               0
date                                     0
available                                0
payment                             459028
name                                     0
host_id                                  0
host_response_time                  190895
host_response_rate                  190895
host_acceptance_rate                282145
host_is_superhost                      730
host_identity_verified                 730
city                                     0
state                                    0
zipcode                               2555
market                                   0
smart_location                           0
country_code                             0
latitude                                 0
longitude                                0
is_location_exact                        0
property_type                          365
room_type                                0
accommodates                             0
bathrooms                             5840
bedrooms                              2190
beds                                   365
bed_type                                 0
price                                    0
weekly_price                        660285
monthly_price                       839865
guests_included                          0
minimum_nights                           0
maximum_nights                           0
review_scores_rating                236155
instant_bookable                         0
cancellation_policy                      0
require_guest_profile_picture            0
require_guest_phone_verification         0
day_price_status                         0
weekly_price_status                      0
monthly_price_status                     0
dtype: int64

In [56]:
df_result_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 41 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   listing_id                        1393570 non-null  int64
 1   date                              1393570 non-null  object
 2   available                         1393570 non-null  object
 3   payment                           934542 non-null   float64
 4   name                              1393570 non-null  object
 5   host_id                           1393570 non-null  int64
 6   host_response_time                1202675 non-null  object
 7   host_response_rate                1202675 non-null  object
 8   host_acceptance_rate              1111425 non-null  object
 9   host_is_superhost                 1392840 non-null  object
 10  host_identity_verified            1392840 non-null  object
 11  city                              1393570 non-null  object
 12  state                             1393570 non-null  object
 13  zipcode                           1391015 non-null  object
 14  market                            1393570 non-null  object
 15  smart_location                    1393570 non-null  object
 16  country_code                      1393570 non-null  object
 17  latitude                          1393570 non-null  object
 18  longitude                         1393570 non-null  object
 19  is_location_exact                 1393570 non-null  object
 20  property_type                     1393205 non-null  object
 21  room_type                         1393570 non-null  object
 22  accommodates                      1393570 non-null  int64
 23  bathrooms                         1387730 non-null  float64
 24  bedrooms                          1391380 non-null  float64
 25  beds                              1393205 non-null  float64
 26  bed_type                          1393570 non-null  object
 27  price                             1393570 non-null  float64
 28  weekly_price                      733285 non-null   float64
 29  monthly_price                     553705 non-null   float64
 30  guests_included                   1393570 non-null  int64
 31  minimum_nights                    1393570 non-null  int64
 32  maximum_nights                    1393570 non-null  int64
 33  review_scores_rating              1157415 non-null  float64
 34  instant_bookable                  1393570 non-null  object
 35  cancellation_policy               1393570 non-null  object
 36  require_guest_profile_picture     1393570 non-null  object
 37  require_guest_phone_verification  1393570 non-null  object
 38  day_price_status                  1393570 non-null  object
 39  weekly_price_status               1393570 non-null  object
 40  monthly_price_status              1393570 non-null  object
dtypes: float64(8), int64(6), object(27)
memory usage: 435.9+ MB

In [58]:
df_result_updated.describe()

,listing_id,payment,host_id,accommodates,bathrooms,bedrooms,beds,price,weekly_price,monthly_price,guests_included,minimum_nights,maximum_nights,review_scores_rating
count,1.393570e+06,934542.000000,1.393570e+06,1.393570e+06,1.387730e+06,1.391380e+06,1.393205e+06,1.393570e+06,733285.000000,553705.000000,1.393570e+06,1.393570e+06,1.393570e+06,1.157415e+06
mean,5.550111e+06,137.944859,1.578556e+07,3.349398e+00,1.259469e+00,1.307712e+00,1.735394e+00,1.279762e+02,788.481832,2613.336190,1.672603e+00,2.369303e+00,7.804476e+02,9.453926e+01
std,2.962274e+06,105.062870,1.458191e+07,1.977341e+00,5.902917e-01,8.832794e-01,1.139331e+00,9.023823e+01,532.220123,1721.701786,1.310868e+00,1.630377e+01,1.683369e+03,6.605044e+00
min,3.335000e+03,10.000000,4.193000e+03,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+01,100.000000,500.000000,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+01
25%,3.258213e+06,75.000000,3.271389e+06,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.500000e+01,455.000000,1512.000000,1.000000e+00,1.000000e+00,6.000000e+01,9.300000e+01
50%,6.118244e+06,109.000000,1.055814e+07,3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+02,650.000000,2200.000000,1.000000e+00,2.000000e+00,1.125000e+03,9.600000e+01
75%,8.035212e+06,160.000000,2.590413e+07,4.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.500000e+02,950.000000,3150.000000,2.000000e+00,2.000000e+00,1.125000e+03,9.900000e+01
max,1.034016e+07,1650.000000,5.320861e+07,1.600000e+01,8.000000e+00,7.000000e+00,1.500000e+01,1.000000e+03,6300.000000,19500.000000,1.500000e+01,1.000000e+03,1.000000e+05,1.000000e+02